*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    position: relative;
    font-family: sans-serif;
}
main {
    margin-top: 54px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.fa-arrow-right, 
.fa-facebook-f, 
.fa-twitter, 
.fa-instagram, 
.fa-youtube, 
.fa-bars {
    pointer-events: none;
}
.img-logo {
    width: 1.5em;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: white;
    padding: 0 1rem;
    margin: 0;
    box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.45);
    z-index: 1;
}
.heading > h2 {
    display: none;
}
.heading {
    display: flex;
    align-items: center;
    gap: .3rem;
}
.heading > h4 {
    font-size: .875rem;
}
.hamburger {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: baseline;
}
.side-menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
    display: none;
    transition: all 1s ease;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: clamp(180px, 28%, 360px);
    height: 100vh;
    background-color: white;
    color: rgb(124, 7, 124);
    animation: slide 0.4s linear;
    z-index: 1;
}
@keyframes slide {
    from {
        transform: translateX(-380px);
    }
    to {
        transform: translateX(0);
    }
}
.navbar-logo {
    max-width: 3em;
}
.hr {
    width: 80%;
    margin: 1.5rem 0 0 1rem;
    padding-inline: 7px;
    border-bottom: 2px solid purple;
    text-align: center;
}
.navbar-clear {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 7px;
    right: 5px;
}
.navbar-list {
    margin-top: 3rem;
    padding-left: 10px;
}
.nav-list {
    cursor: pointer;
    margin-top: 15px;
    padding: 5px 7px;
    width: 100%;
    font-weight: bold;
    transition: all 0.4s ease;
}
.nav-list:hover, .nav-list:focus {
    background-color:rgb(124, 7, 124);
    color: white;
    margin-left: -10px;
}
.welcome-pg {
    background-image: url(./images/new-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 1em;
    height: 65vh;
    color: rgb(255, 255, 255);
    position: relative;
}
.welcome-container {
    width: 100%;
    padding: 1em;
    position: absolute;
    bottom: 10%;
    animation: upward 1.5s linear;
}
@keyframes upward {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.welcome-container > h1 {
    font-size: clamp(1.5rem, 5vw, 6rem);
    font-weight: bolder;
    width: 70%;
}
.btn {
    outline: 0;
    padding: 10px;
    border-radius: 20px;
    width: clamp(130px, 25%, 13rem);
    border: 1px solid rgb(161, 22, 161);
    background-color: rgb(165, 44, 165);
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}
.btn:hover, 
.btn:focus {
    transform: scale(1.1);
    background-color: rgb(71, 9, 71);
    border: 1px solid rgb(71, 9, 71);
}
.column-extra-info, 
.about-home-text > h2, 
.hidden {
    display: none;
}
.about-home {
    width: 90%;
    padding-inline: 1em;
    margin: 1.5rem auto;
    border: 1px solid rgb(223, 218, 218);
    border-radius: 1rem;
    box-shadow: 6px 6px 28px -5px rgba(8,7,7,0.74);
    background: url(./images/top-img-darker.jpg) no-repeat center;
    background-size: cover;
    color: white;
}
.about-home-text > h3 {
    margin-top: 2rem;
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 5rem);
}
.about-home-text > p {
    font-size: 0.875rem;
    line-height: 1.4rem;
    font-weight: bold;
}
.about {
    display: block;
    margin: 2.8rem auto;
    background-color: white;
    border: 1px solid white;
    color: rgb(65, 30, 97);
    transition: all 0.3s ease;
}
.about:hover,
.about:focus {
    transform: scale(1.1);
    background-color: black;
    color: white;
    border: black;
}
.founding-header {
    font-size: clamp(1.5rem, 4vw, 5rem);
    margin-block: 2rem;
    padding-inline: .5rem;
    text-align: center;
    text-transform: capitalize;
}
.ministers {
    padding-inline: 1rem;
}
.founder {
    max-width: 90%;
    min-height: 27rem;
    border: 1px solid rgb(223, 218, 218);
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 0 1rem 1rem 0;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.45);
    position: relative;
}
.founder-name {
    width: 100%;
    padding-inline: .5rem;
    position: absolute;
    bottom: 10%;

}
.founder-name > h3, 
.founder-name > p {
    text-align: center;
}
.ministers-text {
    text-align: center;
    margin-bottom: 3rem;
}
.ministers-text > h2 {
    font-size: clamp(1.5rem, 4vw, 5rem);
}
.audio-home {
    background-image: url(./images/headphones.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.55);
}
.audio-home > h2 {
    color: white;
    font-size: clamp(1.7rem, 4vw, 5rem);
    text-transform: capitalize;
}
.audio-home > p {
    font-size: .9rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.btn-aud:hover, 
.btn-aud:focus {
    transform: scale(1.1);
    background-color: white;
    border: 1px solid white;
    color: rgb(165, 44, 165);
}
.btn2 {
    cursor: pointer;
    display: block;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: rgb(53, 47, 47);
    font-weight: bold;
    font-size: .9rem;
    padding: 0.5em;
    margin: 1.4rem auto;
    position: relative;
    transform: color 175ms ease;
}
.btn2:hover,
.btn2:focus {
    color: white;
}
.btn2::after {
    content: "";
    position: absolute;
    background-color: rgb(146, 66, 146);
    height: .85rem;
    width: 75%;
    left: 0;
    top: 50%;
    z-index: -1;
    transition: transfrom 250ms cubic-bezier(.91,0,.55,1.64);
    transform-origin: bottom left;
}
.btn2:hover::after,
.btn2:focus::after {
    transform: scale(1.35, 1.85);
}
.first-timer {
    padding: 1rem;
}
.first-timer-text {
   text-align: center;
   border-radius: 1rem;
   background-image: url(./images/wave.svg);
   background-repeat: no-repeat;
   background-position: top;
    background-size: cover;
}
.first-timer-text > h2 {
    font-size: clamp(1.5rem, 4vw, 5rem); 
    padding-top: 20px;
    color: white;
}
.first-timer-text > p {
    font-size: .875rem;
    font-weight: bold;
    color: white;
}
.first-timer-text > .gift {
    width: 7rem;
}
.daily-dev {
    padding: 1rem;
    text-align: center;
}
.daily-dev > .daily-dev-header1 {
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 5rem);
    color: rgb(68, 6, 68);
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.btn-dev {
    width: clamp(160px, 30%, 15rem);
}
.btn-dev:hover, .btn-dev:focus {
    border: 1px solid rgb(124, 7, 124);
    color: rgb(124, 7, 124);
    background-color: white;
}
.born-again {
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    background-color: blueviolet;
    color: white;
}
.born-again > h2 {
    font-size: clamp(1.5rem, 4vw, 5rem);
}
.born-again > h4 {
    font-size: .9rem;
}
.born-again > p {
    font-size: .8rem;
}
.form {
    width: 100%;
}
.form > input {
    width: 90%;
    outline: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.3);
    padding: .5rem;
    margin-top: .4rem;
    backdrop-filter: blur(4px);
}
::placeholder {
    color: white;
    font-weight: 300;
}
.form > button {
    outline: 0;
    border: 1px solid white;
    display: block;
    width: 50%;
    margin: .5rem auto;
    padding: .5rem;
    transition: letter-spacing 0.6s ease, 
    word-spacing 0.6s ease;
}
.form > button:hover, 
.form > button:focus {
    background-color: white;
    letter-spacing: 5px;
    word-spacing: 4px;
}
footer {
    padding: 1rem;
    text-align: center;
    background-color: rgb(86, 30, 139);
    color: rgb(220, 195, 223);
}
.sprites {
    margin-right: .6rem;
}