*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    position: relative;
    font-family: sans-serif;
}
main {
    margin-top: 54px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.fa-arrow-right, 
.fa-facebook-f, 
.fa-twitter, 
.fa-instagram, 
.fa-youtube, 
.fa-bars {
    pointer-events: none;
}
.img-logo {
    width: 1.5em;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: white;
    padding: 0 1rem;
    margin: 0;
    box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.45);
    z-index: 1;
}
.heading > h2 {
    display: none;
}
.heading {
    display: flex;
    align-items: center;
    gap: .3rem;
}
.heading > h4 {
    font-size: .875rem;
}
.hamburger {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: baseline;
}
.navbar-list {
    display: none;
}
.side-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
    display: none;
    transition: all 1s ease;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: clamp(180px, 28%, 360px);
    height: 100vh;
    background-image: url(./images/nav-wave2.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: white;
    color: rgb(124, 7, 124);
    animation: slide 0.4s linear;
    z-index: 1;
}
@keyframes slide {
    from {
        transform: translateX(-380px);
    }
    to {
        transform: translateX(0);
    }
}
.sidebar-logo {
    max-width: 3em;
}
.hr {
    width: 80%;
    margin: 1.5rem 0 0 1rem;
    padding-inline: 7px;
    border-bottom: 2px solid purple;
    text-align: center;
}
.sidebar-clear {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 7px;
    right: 5px;
}
.sidebar-list {
    margin-top: 3rem;
    padding-left: 10px;
    color: rgb(49, 47, 47);
}
.side-list {
    cursor: pointer;
    margin-top: 15px;
    padding: 5px 7px;
    width: 100%;
    font-weight: bold;
    transition: all 0.4s ease;
}
.side-list:hover, .side-list:focus {
    background-color:rgb(124, 7, 124);
    color: white;
    margin-left: -10px;
}
.welcome-pg {
    background-image: url(./images/new-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 1em;
    min-height: 65vh;
    color: rgb(255, 255, 255);
    position: relative;
}
.welcome-container {
    width: 100%;
    padding: 1em;
    position: absolute;
    bottom: 10%;
    animation: upward 1.5s linear;
}
@keyframes upward {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.welcome-container > h1 {
    font-size: clamp(1.5rem, 5vw, 6rem);
    font-weight: bolder;
    width: 70%;
}
.btn {
    outline: 0;
    padding: 10px;
    border-radius: 20px;
    width: clamp(130px, 25%, 13rem);
    border: 1px solid rgb(161, 22, 161);
    background-color: rgb(165, 44, 165);
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}
.btn:hover, 
.btn:focus {
    transform: scale(1.1);
    background-color: rgb(71, 9, 71);
    border: 1px solid rgb(71, 9, 71);
}
.accordion-extra-info, 
.about-home-text > h2, 
.hidden-daily-dev {
    display: none;
}
.about-home {
    width: 90%;
    padding-inline: 1em;
    margin: 1.5rem auto;
    border: 1px solid rgb(223, 218, 218);
    border-radius: 1rem;
    box-shadow: 6px 6px 28px -5px rgba(8,7,7,0.74);
    background: url(./images/top-img-darker.jpg) no-repeat center;
    background-size: cover;
    color: white;
}
.about-home-text > h3 {
    margin-top: 2rem;
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 5rem);
}
.about-home-text > p {
    font-size: 0.875rem;
    line-height: 1.4rem;
    font-weight: bold;
}
.about {
    display: block;
    margin: 2.8rem auto;
    background-color: white;
    border: 1px solid white;
    color: rgb(65, 30, 97);
    transition: all 0.3s ease;
}
.about:hover,
.about:focus {
    transform: scale(1.1);
    background-color: black;
    color: white;
    border: black;
}
.founding-header {
    font-size: clamp(1.5rem, 4vw, 5rem);
    margin-block: 2rem;
    padding-inline: .5rem;
    text-align: center;
    text-transform: capitalize;
}
.ministers {
    padding-inline: 1rem;
}
.founder {
    width: 90%;
    min-height: 27rem;
    border: 1px solid rgb(223, 218, 218);
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 0 1rem 1rem 0;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.45);
    position: relative;
}
.founder-name {
    width: 100%;
    padding-inline: .5rem;
    position: absolute;
    bottom: 10%;

}
.founder-name > h3, 
.founder-name > p {
    text-align: center;
}
.ministers-text {
    text-align: center;
    margin-bottom: 3rem;
}
.ministers-text > h2 {
    font-size: clamp(1.5rem, 4vw, 5rem);
}
.audio-home {
    background-image: url(./images/headphones.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.55);
}
.audio-home > h2 {
    color: white;
    font-size: clamp(1.7rem, 4vw, 5rem);
    text-transform: capitalize;
}
.audio-home > p {
    font-size: .9rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.btn-aud:hover, 
.btn-aud:focus {
    transform: scale(1.1);
    background-color: white;
    border: 1px solid white;
    color: rgb(165, 44, 165);
}
.btn2 {
    cursor: pointer;
    display: block;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: rgb(53, 47, 47);
    font-weight: bold;
    font-size: .9rem;
    padding: 0.5em;
    margin: 1.4rem auto;
    position: relative;
    transform: color 175ms ease;
}
.btn2:hover,
.btn2:focus {
    color: white;
}
.btn2::after {
    content: "";
    position: absolute;
    background-color: rgb(146, 66, 146);
    height: .85rem;
    width: 75%;
    left: 0;
    top: 50%;
    z-index: -1;
    transition: transfrom 250ms cubic-bezier(.91,0,.55,1.64);
    transform-origin: bottom left;
}
.btn2:hover::after,
.btn2:focus::after {
    transform: scale(1.35, 1.85);
}
.first-timer {
    padding: 1rem;
}
.first-timer-text {
   text-align: center;
   border-radius: 1rem;
   background-image: url(./images/wave.svg);
   background-repeat: no-repeat;
   background-position: 50% 35%;
   background-size: cover;
}
.first-timer-text > h2 {
    font-size: clamp(1.5rem, 3.5vw, 4rem); 
    padding-top: 20px;
    color: white;
}
.first-timer-text > p {
    font-size: .875rem;
    font-weight: bold;
    color: white;
}
.first-timer-text > .gift {
    width: 7rem;
}
.daily-dev {
    padding: 1rem;
    text-align: center;
}
.daily-dev > .daily-dev-header1 {
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 5rem);
    color: rgb(68, 6, 68);
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.daily-dev > p {
    line-height: 1.5rem;
}
.btn-dev {
    width: clamp(160px, 30%, 15rem);
}
.btn-dev:hover, .btn-dev:focus {
    border: 1px solid rgb(124, 7, 124);
    color: rgb(124, 7, 124);
    background-color: white;
}
.img-slider {
    display: none;
}
.born-again {
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    background-color: blueviolet;
    color: white;
}
.born-again > h2 {
    font-size: clamp(1.5rem, 4vw, 5rem);
}
.born-again > h4 {
    font-size: .9rem;
}
.born-again > p {
    font-size: .8rem;
    line-height: 1.3rem;
}
.form {
    width: 100%;
}
.form > input {
    width: 90%;
    outline: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    padding: .5rem;
    margin-top: .4rem;
    backdrop-filter: blur(4px);
}
::placeholder {
    color: white;
    font-weight: 300;
}
.form > button {
    outline: 0;
    border: 1px solid white;
    display: block;
    width: 50%;
    margin: .5rem auto;
    padding: .5rem;
    transition: letter-spacing 0.6s ease, 
    word-spacing 0.6s ease;
}
.form > button:hover, 
.form > button:focus {
    background-color: white;
    letter-spacing: 5px;
    word-spacing: 4px;
}
footer {
    padding: 1rem;
    text-align: center;
    background-color: rgb(86, 30, 139);
    color: rgb(220, 195, 223);
}
.sprites {
    margin-right: .6rem;
}
@media (min-width: 630px) {
    .founders-container {
        width: 100%;
        display: flex;
        align-items: baseline;
        gap: 1rem;
        padding: 1rem;
    }
    .audio-home {
        min-height: 15rem;
    }
    .first-timer-text {
        min-height: 20rem;
    }
    .btn2 {
        margin-top: 5rem;
    }
    .btn-aud {
        margin-top: 1.5rem;
    }
}
@media (min-width: 800px) {
    .heading > h2 {
        display: block;
        color: rgb(68, 6, 68);
        font-size: .9rem;
        cursor: pointer;
    }
    .heading > h4 {
        display: none;
    }
    .hamburger {
        display: none;
    }
    main {
        margin-top: 0;
    }
    .navbar-list {
        display: flex;
        align-items: baseline;
        gap: 1rem;
    }
    .nav-list {
        cursor: pointer;
        font-size: .875rem;
        color: rgb(68, 6, 68);
        transition: all 0.3s ease;
        font-weight: bold;
    }
    .nav-list:hover, .nav-list:focus {
        transform: scale(1.2);
        color: blueviolet;
    }
    .welcome-pg {
        min-height: 90vh;
    }
    .accordion-extra-info {
        display: block;
        width: 70%;
        min-height: 23rem;
        margin: 3rem auto;
        padding: .7rem 1.3rem;
        border: 1px solid rgb(173, 167, 173);
        border-radius: 1rem;
        /*background-color: rgba(0, 0, 0, .1);*/
        background-image: url(./images/nav-wave.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #312e2e;
        box-shadow: 2px 2px 10px -1px rgba(8,7,7,0.74);
    }
    .accordion-extra-info > h2 {
        text-align: center;
        font-size: clamp(1.4rem, 1.8rem, 2.5rem);
        margin: 2rem 0 2.5rem 0;
    }
    .accordion-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #312e2e;
        cursor: pointer;
    }
    .accordion-text > h3 {
        font-size: 1rem;
    }
    .hide-btn {
        border: 0;
        outline: 0;
        background-color: transparent;
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        cursor: pointer;
        transition: all .5s ease;
    }
    .hidden-accordion-text {
        margin-top: 15px;
        line-height: 1.5rem;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    .accordion-extra-info .holder.active .hidden-accordion-text {
        height: 4rem;
    }
    .accordion-extra-info .holder.active .accordion-text .hide-btn {
        transform: rotate(45deg);
    }
    .hidden-daily-dev {
        display: inline;
    }
    .form > input {
        padding: .7rem;
    }
    .form > button {
        font-weight: bold;
    }
}