*,
*::after,
*::before {
    box-sizing: border-box;
}
:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
    --body-color: #fff;
    --btn-color: #7C077C;
}
.dark-theme {
    --primary-color: #212121;
    --secondary-color: #fff;
    --body-color: #212121;
    --btn-color: #212121;
}
body {
    margin: 0;
    position: relative;
    font-family: sans-serif;
    background-color: var(--body-color);
    font-family: 'Poppins', serif;
}
main {
    margin-top: 54px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.fa-arrow-right, 
.fa-facebook-f, 
.fa-twitter, 
.fa-instagram, 
.fa-youtube, 
.fa-bars {
    pointer-events: none;
}
.img-logo {
    width: 1.5em;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0 1rem;
    margin: 0;
    box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.45);
    z-index: 1;
}
.heading > h2 {
    display: none;
    width: 70%;
}
.heading {
    display: flex;
    align-items: center;
    gap: .3rem;
}
.heading > h4 {
    font-size: .875rem;
    color: var(--secondary-color);
}
header > .light-dark {
    display: none;
}
.hamburger {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: baseline;
    color: var(--secondary-color);
}
.navbar-list {
    display: none;
}
.side-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
    display: none;
    transition: all 1s ease;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: clamp(180px, 28%, 360px);
    height: 100vh;
    background-image: url(./images/nav-wave2.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: var(--body-color);
    color: rgb(124, 7, 124);
    animation: slide 0.4s linear;
    z-index: 1;
}
@keyframes slide {
    from {
        transform: translateX(-380px);
    }
    to {
        transform: translateX(0);
    }
}
.ld-toggle {
    position: absolute;
    left: 10px;
    bottom: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.ld-toggle > span {
    font-size: .875rem;
    color: var(--secondary-color);
}
.light-dark2 {
    display: block;
    width: 30px;
    cursor: pointer;
}
.sidebar-logo {
    max-width: 3em;
}
.hr {
    width: 80%;
    margin: 1.5rem 0 0 1rem;
    padding-inline: 7px;
    border-bottom: 2px solid purple;
    text-align: center;
}
.sidebar-clear {
    cursor: pointer;
    outline: 0;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 7px;
    right: 5px;
    color: var(--secondary-color);
}
.sidebar-list {
    margin-top: 3rem;
    padding-left: 10px;
    color: var(--secondary-color);
}
.side-list > a {
    color: var(--secondary-color);
}
.side-list {
    cursor: pointer;
    margin-top: 15px;
    padding: 5px 7px;
    width: 100%;
    font-weight: bold;
    transition: all 0.4s ease;
}
.side-list:hover, .side-list:focus {
    background-color:rgb(124, 7, 124);
    color: white;
    margin-left: -10px;
}
.welcome-pg {
    background-image: url(./images/new-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 1em;
    min-height: 65vh;
    color: rgb(255, 255, 255);
    position: relative;
}
.welcome-container {
    width: 100%;
    padding: 1em;
    position: absolute;
    bottom: 10%;
    animation: upward 1.5s linear;
}
@keyframes upward {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.welcome-container > h1 {
    font-size: clamp(1.5rem, 4vw, 5rem);
    font-weight: bolder;
    width: 70%;
}
.btn {
    outline: 0;
    padding: 10px;
    border-radius: 20px;
    width: clamp(130px, 25%, 11rem);
    border: 1px solid rgb(161, 22, 161);
    background-color: rgb(165, 44, 165);
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}
.btn:hover, 
.btn:focus {
    transform: scale(1.1);
    background-color: rgb(71, 9, 71);
    border: 1px solid rgb(71, 9, 71);
}
.accordion-extra-info, 
.about-home-text > h2, 
.hidden-daily-dev {
    display: none;
}
.about-home {
    width: 90%;
    padding-inline: 1em;
    margin: 1.5rem auto;
    border: 1px solid rgb(223, 218, 218);
    border-radius: 1rem;
    box-shadow: 6px 6px 28px -5px rgba(8,7,7,0.74);
    background: url(./images/top-img-darker.jpg) no-repeat center;
    background-size: cover;
    color: white;
}
.about-home-text > h3 {
    margin-top: 2rem;
    text-align: center;
    font-size: clamp(1.2rem, 3.5vw, 4rem);
}
.about-home-text > p {
    font-size: 0.875rem;
    line-height: 1.4rem;
    font-weight: bold;
}
.about {
    display: block;
    margin: 2.8rem auto;
    background-color: white;
    border: 1px solid white;
    color: rgb(65, 30, 97);
    transition: all 0.3s ease;
}
.about:hover,
.about:focus {
    transform: scale(1.1);
    background-color: black;
    color: white;
    border: black;
}
.founding-header {
    font-size: clamp(1.5rem, 3.2vw, 3.8rem);
    margin-block: 2rem;
    padding-inline: .5rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--secondary-color);
}
.ministers {
    padding-inline: 1rem;
}
.founder {
    width: 90%;
    height: 28rem;
    border: 1px solid rgb(223, 218, 218);
    border-radius: 1rem;
    margin: 2rem auto;
    padding: 0 1rem 1rem 0;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.founder > img {
    display: block;
    margin: 1.5rem 0 0 1.2rem;
    width: 85%;
    height: 17.5rem;
    border-radius: .6rem;
}
.founder-name {
    width: 100%;
    padding-inline: .5rem;
}
.founder-name > h3, 
.founder-name > p {
    text-align: center;
    color: var(--secondary-color);
}
.ministers-text {
    text-align: center;
    margin-bottom: 3rem;
}
.ministers-text > h2 {
    font-size: clamp(1.5rem, 3.5vw, 4rem);
    color: var(--secondary-color);
}
.min-btn {
    margin-top: -10px;
}
.audio-home {
    background-image: url(./images/headphones.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.55);
}
.audio-home > h2 {
    color: white;
    font-size: clamp(1.5rem, 3vw, 4rem);
    text-transform: capitalize;
}
.audio-home > p {
    font-size: .9rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.btn-aud:hover, 
.btn-aud:focus {
    transform: scale(1.1);
    background-color: white;
    border: 1px solid white;
    color: rgb(165, 44, 165);
}
.btn2 {
    cursor: pointer;
    display: block;
    border: 0;
    outline: 0;
    background-image: linear-gradient(180deg, rgb(182, 35, 182), blueviolet);
    color: var(--body-color);
    font-weight: bold;
    font-size: .9rem;
    padding: 0.5em;
    margin: 2.5rem auto 1.4rem;
    width: clamp(150px, 15%, 200px);
    border-radius: 2rem;
    transition: all 0.3s ease;
}
.btn2:hover, .btn2:focus {
    transform: scale(1.05);
    background-color: white;
    background-image: none;
    color: rgb(124, 7, 124);
    border: 1px solid var(--btn-color);
}
.first-timer {
    padding: 1rem;
}
.first-timer-text {
   text-align: center;
   border-radius: 1rem;
   background-image: url(./images/wave.svg);
   background-repeat: no-repeat;
   background-position: 50% 40%;
   background-size: cover;
}
.first-timer-text > h2 {
    font-size: clamp(1.5rem, 3.5vw, 4rem); 
    padding-top: 20px;
    color: white;
}
.first-timer-text > p {
    font-size: .875rem;
    font-weight: bold;
    color: white;
}
.first-timer-text > .gift {
    width: 7rem;
}
.daily-dev {
    padding: 1rem;
    text-align: center;
}
.daily-dev > .daily-dev-header1 {
    text-align: center;
    font-size: clamp(1.5rem, 3.5vw, 4rem);
    color: rgb(160, 57, 160);
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.daily-dev > p {
    line-height: 1.5rem;
    color: var(--secondary-color);
}
.btn-dev {
    width: clamp(160px, 28%, 13.4rem);
    color: var(--primary-color);
}
.btn-dev:hover, .btn-dev:focus {
    border: 1px solid var(--btn-color);
    color: rgb(124, 7, 124);
    background-color: white;
}
.img-slider {
    display: none;
}
.born-again {
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    background-color: blueviolet;
    color: white;
}
.born-again > h2 {
    font-size: clamp(1.5rem, 3.5vw, 4rem);
}
.born-again > h4 {
    font-size: .9rem;
}
.born-again > p {
    font-size: .8rem;
    line-height: 1.3rem;
}
.form {
    width: 100%;
}
.form > input {
    width: 90%;
    outline: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    padding: .5rem;
    margin-top: .4rem;
    backdrop-filter: blur(4px);
}
::placeholder {
    color: white;
    font-weight: 300;
}
.form > button {
    outline: 0;
    border: 1px solid white;
    display: block;
    width: 50%;
    margin: .5rem auto;
    padding: .5rem;
    transition: letter-spacing 0.6s ease, 
    word-spacing 0.6s ease;
}
.form > button:hover, 
.form > button:focus {
    background-color: white;
    letter-spacing: 5px;
    word-spacing: 4px;
}
footer {
    padding: 1rem;
    text-align: center;
    background-color: rgb(86, 30, 139);
    color: rgb(220, 195, 223);
}
.sprites {
    margin-right: .6rem;
}
@media (min-width: 400px) {
    .founder > img {
        width: 65%;
    }
}
@media (min-width: 630px) {
    .founders-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .founder {
        width: 45%;
    }
    .founder > img {
        width: 85%;
    }
    .audio-home {
        min-height: 15rem;
    }
    .first-timer-text {
        min-height: 20rem;
    }
    .btn2 {
        margin-top: 5rem;
    }
    .btn-aud {
        margin-top: 1.5rem;
    }
}
@media (min-width: 800px) {
    .heading > h2 {
        display: block;
        color: var(--secondary-color);
        font-size: .9rem;
        cursor: pointer;
    }
    .heading > h4 {
        display: none;
    }
    header > .light-dark {
        display: block;
        width: 30px;
        cursor: pointer;
    }
    .hamburger {
        display: none;
    }
    main {
        margin-top: 0;
    }
    .navbar-list {
        display: block;
        flex: 1;
        text-align: right;
    }
    .nav-list {
        cursor: pointer;
        font-size: .875rem;
        color: var(--secondary-color);
        transition: all 0.3s ease;
        font-weight: bold;
        display: inline-block;
        margin: 10px 1rem;
    }
    .nav-list > a {
        color: var(--secondary-color);
    }
    .nav-list:hover, .nav-list:focus {
        transform: scale(1.2);
        color: rgb(128, 18, 128);
    }
    .welcome-pg {
        min-height: 90vh;
    }
    .accordion-extra-info {
        display: block;
        width: 70%;
        min-height: 23rem;
        margin: 3rem auto;
        padding: .7rem 1.3rem;
        border: 1px solid rgb(173, 167, 173);
        border-radius: 1rem;
        /*background-color: rgba(0, 0, 0, .1);*/
        background-image: url(./images/nav-wave.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: var(--secondary-color);
        box-shadow: 2px 2px 10px -1px rgba(8,7,7,0.74);
        font-family: 'Poppins', serif;
    }
    .accordion-extra-info > h2 {
        text-align: center;
        font-size: clamp(1.4rem, 1.8rem, 2.5rem);
        margin: 2rem 0 2.5rem 0;
    }
    .accordion-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--secondary-color);
        cursor: pointer;
    }
    .accordion-text > h3 {
        font-size: 1rem;
    }
    .hide-btn {
        border: 0;
        outline: 0;
        background-color: transparent;
        color: var(--secondary-color);
        font-size: 1.1rem;
        font-weight: bold;
        cursor: pointer;
        transition: all .5s ease;
    }
    .hidden-accordion-text {
        margin-top: 15px;
        line-height: 1.5rem;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
        color: var(--secondary-color);
    }
    .accordion-extra-info .holder.active .hidden-accordion-text {
        height: 4.5rem;
    }
    .accordion-extra-info .holder.active .accordion-text .hide-btn {
        transform: rotate(45deg);
    }
    .founder > img {
        margin: 2rem 0 0 0;
        width: 65%;
        min-height: 20rem;
    }
    .founder {
        width: 40%;
    }
    .hidden-daily-dev {
        display: inline;
    }
    .form > input {
        padding: .7rem;
    }
    .form > button {
        font-weight: bold;
    }
}
